.mainContacto{
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .contacto{
        width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin-bottom: 15px;
        h3{
            margin-bottom: 20px;
            font-size: 26px;
            color: $color1;
        }
        input{
            margin-bottom: 20px;
            width: 200px;
        }
        textarea{
            margin-bottom: 15px;
            width: 200px;
        }
        .btn{
            background-color: map-get($boton , relleno );
            border: map-get($boton, border);
            padding: map-get($boton, padding );
            border-radius: map-get($boton , borderRadius);
            color: map-get($boton, color );
            margin: map-get($boton, margen);
            width: map-get($boton, ancho);
            &:hover{
                background-color: $color3;
            }
        }
    }
    .ubicacion{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
}

@media(min-width:576px){
    .contacto{
        width: 450px;
        h3{
            font-size: 30px;
        }
        input{
            width: 220px;
        }
        textarea{
            width: 220px;
        }
        .btn{
            width: 180px;
        }
        .ubicacion{
            iframe{
                width: 500px;
            }
        } 
    }
    
}   

@media(min-width:768px){
    .mainContacto{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;   
    }
}   

@media(min-width:1200px){
    .mainContacto{
        .contacto{
            width: 600px;
            h3{
                font-size: 40px;
            }
            input{
                width: 260px;
            }
            textarea{
                width: 260px;
            }
            .btn{
                width: 200px;
            }
        }
    } 

    .ubicacion iframe{
        width: 550px;
    }
    
}




