.imgBanner{
    width: 100%;
    background-size: cover;
}


@mixin propiedadesFlex($display,$wrap,$direccion,$justify,$align,$margin) {
    display: $display;
    flex-wrap: $wrap;
    flex-direction: $direccion;
    justify-content: $justify;
    align-items: $align;
    margin: $margin
}

.mainProductos{
    grid-area: main;
    width: 100%;
    margin-top: 10px;
    .cards{
        @include propiedadesFlex(flex, wrap, row, space-around, center, 2px);
        .card{
            @include propiedadesFlex(flex, nowrap, row, center, end, 5px);
            width: 270px;
            height: 150px;
            border: 2px solid $color2;
            border-radius: 10px;
            padding: 6px 0 0 5px;
            div{
                margin: 5px;
                .info__btn{
                    @extend .btn;
                    &:hover{
                        background-color: $color3;
                    }
                }
            }
            img{
                width: 130px;
                height: 130px;
            }
        }
    }
}







