@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Patrick+Hand&family=Play&display=swap");
* {
  margin: 0;
  padding: 0; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(to bottom, #13c9ee, #5bdaaf, #e9fa2e);
  grid-area: navbar;
  width: 100%; }
  .navbar ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap; }
    .navbar ul li {
      list-style: none;
      padding: 6px; }
      .navbar ul li a {
        text-decoration: none;
        color: #13c9ee;
        font-size: 16px; }

@media (min-width: 576px) {
  .navbar {
    height: 70px; }
    .navbar ul {
      align-items: center; }
      .navbar ul li {
        padding: 14px; }
        .navbar ul li a {
          font-size: 20px; }
      .navbar ul:nth-child(2) {
        order: 2; } }

@media (min-width: 768px) {
  .navbar {
    height: 90px; }
    .navbar ul li {
      padding: 18px; }
      .navbar ul li a {
        font-size: 24px; } }

@media (min-width: 992px) {
  .navbar {
    height: 100px; }
    .navbar ul li {
      padding: 22px; }
      .navbar ul li a {
        font-size: 26px; } }

@media (min-width: 1200px) {
  .navbar {
    height: 100px; }
    .navbar ul li {
      padding: 26px; }
      .navbar ul li a {
        font-size: 30px; } }

.logo {
  display: flex;
  width: 100%;
  justify-content: center; }
  .logo img {
    height: 50px;
    border-radius: 8px; }

@media (min-width: 576px) {
  .logo {
    width: 120px;
    order: 1; }
    .logo img {
      height: 69px; } }

@media (min-width: 768px) {
  .logo {
    padding-right: 50px; }
    .logo img {
      height: 90px; } }

@media (min-width: 992px) {
  .logo {
    padding-right: 140px; }
    .logo img {
      height: 100px; } }

@media (min-width: 1200px) {
  .logo {
    padding-right: 160px; } }

.footer {
  grid-area: footer;
  display: grid;
  margin-top: 10px;
  grid-template-areas: "contact  redes" "derechos derechos";
  background: linear-gradient(to bottom, #02d2c5, #5bdaaf, #e9fa2e); }
  .footer .footer__contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px; }
    .footer .footer__contact h4 {
      font-size: 16px; }
    .footer .footer__contact p {
      font-size: 12px; }
  .footer .footer__redes {
    grid-area: redes;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-end;
    margin-left: 40px; }
    .footer .footer__redes img {
      width: 25px;
      height: 25px;
      margin: 7px; }
  .footer .footer__derechos {
    grid-area: derechos;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 3px; }
    .footer .footer__derechos p {
      font-size: 14px; }

@media (min-width: 576px) {
  .footer .footer__contact h4 {
    font-size: 20px;
    padding-bottom: 6px; }
  .footer .footer__contact p {
    font-size: 16px;
    padding: 2px; }
  .footer__redes img {
    width: 40px;
    height: 40px; }
  .footer__redes a {
    padding: 18px; }
  .footer__redes p {
    font-size: 20px; } }

@media (min-width: 768px) {
  .footer .footer__contact h4 {
    font-size: 24px;
    padding-bottom: 12px; }
  .footer .footer__contact p {
    font-size: 20px; }
  .footer .footer__redes img {
    width: 60px;
    height: 60px; }
  .footer .footer__redes a {
    padding: 20px; }
  .footer .footer__derechos p {
    font-size: 24px; } }

@media (min-width: 992px) {
  .footer .footer__contact h4 {
    font-size: 36px; }
  .footer .footer__contact p {
    font-size: 28px; }
  .footer .footer__redes img {
    width: 70px;
    height: 70px; }
  .footer .footer__redes a {
    padding: 30px; }
  .footer .footer__derechos p {
    font-size: 28px; } }

@media (min-width: 1200px) {
  .footer .footer__contact h4 {
    font-size: 40px; }
  .footer .footer__contact p {
    font-size: 30px; }
  .footer .footer__redes img {
    width: 80px;
    height: 80px; }
  .footer .footer__redes a {
    padding: 34px; }
  .footer .footer__derechos p {
    font-size: 30px; } }

.container {
  display: grid;
  /*font-family: 'Dancing Script', cursive;*/
  font-family: 'Patrick Hand', cursive;
  /*font-family: 'Play', sans-serif;*/
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "navbar" "main" "footer"; }

.imgBanner {
  width: 100%;
  background-size: cover; }

.mainProductos {
  grid-area: main;
  width: 100%;
  margin-top: 10px; }
  .mainProductos .cards {
    display: flex;
    flex-wrap: wrap;
    /*Para poder usar wrap debo definir un ancho en los hijos*/
    justify-content: space-around; }
    .mainProductos .cards .card {
      display: flex;
      margin: 5px;
      width: 270px;
      height: 150px;
      border: 2px solid #5bdaaf;
      border-radius: 10px;
      padding: 6px 0 0 5px; }
      .mainProductos .cards .card div {
        margin: 5px; }
        .mainProductos .cards .card div .info__btn {
          background-color: #5bdaaf;
          border: 0;
          padding: 10px 20px;
          border-radius: 10px;
          color: white;
          margin: 10px; }
          .mainProductos .cards .card div .info__btn:hover {
            background-color: #e9fa2e; }
      .mainProductos .cards .card img {
        width: 130px;
        height: 130px; }

.mainNosotros {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; }
  .mainNosotros .nosotros {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainNosotros .nosotros h3 {
      padding-bottom: 10px;
      color: #5bdaaf; }
    .mainNosotros .nosotros h4 {
      padding-bottom: 10px;
      color: #13c9ee; }
    .mainNosotros .nosotros p {
      padding-bottom: 10px; }
  .mainNosotros .nosotros__img img {
    width: 300px;
    height: 400px;
    background-size: cover; }

@media (min-width: 576px) {
  .nosotros {
    width: 395px; }
    .nosotros h3 {
      font-size: 30px; }
    .nosotros h4 {
      font-size: 20px; }
    .nosotros p {
      font-size: 16px; } }

@media (min-width: 768px) {
  .mainNosotros {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .mainNosotros .nosotros {
      width: 275px;
      height: 395px; } }

@media (min-width: 992px) {
  .nosotros {
    width: 400px; }
    .nosotros h3 {
      font-size: 34px; }
    .nosotros h4 {
      font-size: 26px; }
    .nosotros p {
      font-size: 20px; } }

@media (min-width: 1200px) {
  .nosotros {
    width: 500px; }
    .nosotros h3 {
      font-size: 38px; }
    .nosotros h4 {
      font-size: 30px; }
    .nosotros p {
      font-size: 24px; } }

.mainContacto {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }
  .mainContacto .contacto {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px; }
    .mainContacto .contacto h3 {
      margin-bottom: 20px;
      font-size: 26px;
      color: #13c9ee; }
    .mainContacto .contacto input {
      margin-bottom: 20px;
      width: 200px; }
    .mainContacto .contacto textarea {
      margin-bottom: 15px;
      width: 200px; }
    .mainContacto .contacto .btn {
      background-color: #5bdaaf;
      border: 0;
      padding: 10px 20px;
      border-radius: 10px;
      color: white;
      margin: 10px;
      width: 150px; }
      .mainContacto .contacto .btn:hover {
        background-color: #e9fa2e; }
  .mainContacto .ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center; }

@media (min-width: 576px) {
  .contacto {
    width: 450px; }
    .contacto h3 {
      font-size: 30px; }
    .contacto input {
      width: 220px; }
    .contacto textarea {
      width: 220px; }
    .contacto .btn {
      width: 180px; }
    .contacto .ubicacion iframe {
      width: 500px; } }

@media (min-width: 768px) {
  .mainContacto {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; } }

@media (min-width: 1200px) {
  .mainContacto .contacto {
    width: 600px; }
    .mainContacto .contacto h3 {
      font-size: 40px; }
    .mainContacto .contacto input {
      width: 260px; }
    .mainContacto .contacto textarea {
      width: 260px; }
    .mainContacto .contacto .btn {
      width: 200px; }
  .ubicacion iframe {
    width: 550px; } }
